@model Web.Models.BikeInfo

@{
    ViewData["Title"] = "Create";
}

<h4>Create or Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="row mb-3">
                <label class="control-label">Customer Name</label>
                <div class="col-8">
                    <input asp-for="CustomerName" class="form-control" />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="control-label">Check-In Time</label>
                <div class="col-8">
                    <input id="inputCheckIn" asp-for="CheckInTime" class="form-control" />
                    <span asp-validation-for="CheckInTime" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="control-label">Check-Out Time</label>
                <div class="col-8">
                    <input id="inputCheckOut" asp-for="CheckOutTime" class="form-control" />
                    <span asp-validation-for="CheckOutTime" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="control-label">Total Time Spent</label>
                <div class="col-8">
                    <input id="inputTimeSpent" asp-for="TotalTimeSpent" class="form-control" />
                    <span asp-validation-for="TotalTimeSpent" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {

            $('#inputCheckIn').change(function () {
                CalculateTimeSpent()
            });

            $('#inputCheckOut').change(function () {
                CalculateTimeSpent()
            });

            function CalculateTimeSpent() {
                var checkInDate = Date.parse($('#inputCheckIn').val());
                var checkOutDate = Date.parse($('#inputCheckOut').val());

                var result = checkOutDate - checkInDate;

                const hours = Math.round(((result / 1000) / 60) / 60);

                $('#inputTimeSpent').val(hours);
            };

        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
